In [ ]:
import sqlite3
import pandas as pd

In [ ]:
def build_connection(path_to_db='/content/data.db', debug=False):
    try:
        conn = sqlite3.connect(path_to_db)
        if debug is True:
            print('connection established')
        return conn
    except Error as e:
        if debug is True:
            print('connection error ', e)

In [ ]:
"""
build_table == fungsi membuat tabel di database
"""
def build_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()
    header_table = """CREATE TABLE IF NOT EXISTS transactions (
                        id integer,
                        insert_time timestamp,
                        tx_amount float,
                        tx_type string,
                        status string
                        );"""
    # Create table and its columns
    cursor.execute(header_table)

In [ ]:
"""
insert_table() == fungsi mengisi table di database
"""
def insert_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()

    sql_insertion = '''INSERT INTO transactions(id, insert_time, tx_amount, tx_type, status) VALUES (?, ?, ?, ?, ?);'''
    datas = [
             (1, '2021-01-01 11:25:00', 10, 'buy', 'open'),
             (2, '2021-01-01 11:26:00', 20, 'sell', 'open'),
             (1, '2021-01-01 11:25:40', 10, 'buy', 'closed'),
             (3, '2021-01-01 11:30:00', 30, 'sell', 'closed'),
             (2, '2021-01-01 11:30:40', 20, 'sell', 'closed')
    ]

    for data in datas:
        cursor.execute(sql_insertion, data)
    conn.commit()
    conn.close()

In [ ]:
def show_table(debug=False):
    conn = build_connection(debug=debug)
    
    insert_query = """SELECT * FROM transactions GROUP BY id HAVING MAX(insert_time)"""
    df = pd.read_sql_query(insert_query, conn)
    pd.set_option("display.max_rows", None, "display.max_columns", None)
    conn.close()
    print(df.to_string(index=False))

if __name__=='__main__':
    build_table()
    insert_table()
    show_table()

 id         insert_time  tx_amount tx_type status
  1 2021-01-01 11:25:40       10.0     buy closed
  2 2021-01-01 11:30:40       20.0    sell closed
  3 2021-01-01 11:30:00       30.0    sell closed

In [ ]:
def show_table(debug=False):
    conn = build_connection(debug=debug)
    
    insert_query = """SELECT * FROM transactions GROUP BY id HAVING MAX(insert_time)"""
    df = pd.read_sql_query(insert_query, conn)
    pd.set_option("display.max_rows", None, "display.max_columns", None)
    conn.close()
    print(df.head())

show_table()

          username                                               text  \
0  kembarannyaimas  RT @septian: Sekadar mengingatkan: hasil uji k...
1     Rian170363Az  RT @MrsRachelIn: Vaksin corona tiba, Jokowi mi...
2         ayu_yude  RT @jokowi: Semenjak dari awal, saya mengingat...
3         cak_iwan  RT @septian: Sekadar mengingatkan: hasil uji k...
4        vayakikin  RT @AndreasMarbun_: tanggung jawab pemberantas...

  retweet_count
0             0
1             0
2             0
3             0
4             0

In [ ]:
"""
build_connection == fungsi membangun koneksi database,
path_to_db == alamat database, 
jika bernilai None, maka secara otomatis akan membuat file *.db
"""
def build_connection(path_to_db='/content/sales_database.db', debug=False):
    try:
        conn = sqlite3.connect(path_to_db)
        if debug is True:
            print('connection established')
        return conn
    except Error as e:
        if debug is True:
            print('connection error ', e)    

"""
build_table == fungsi membuat tabel di database
"""
def build_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()
    header_table = """CREATE TABLE IF NOT EXISTS sales_database (
                        date timestamp,
                        sales integer
                        );"""
    # Create table and its columns
    cursor.execute(header_table)

"""
insert_table() == fungsi mengisi table di database
"""
def insert_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()

    sql_insertion = '''INSERT INTO sales_database(date, sales) VALUES (?, ?);'''
    datas = [
        ('2021-01-01', 100),
        ('2021-01-02', 34),
        ('2021-01-02', 123),
        ('2021-01-02', 134),
        ('2021-01-03', 145),
        ('2021-01-03', 24),
        ('2021-01-04', 541),
        ('2021-01-04', 636),
        ('2021-01-05', 322),
        ('2021-01-06', 242),
        ('2021-01-07', 22),
        ('2021-01-08', 46)
    ]

    for data in datas:
        cursor.execute(sql_insertion, data)
    conn.commit()
    conn.close()

def show_table(debug=False):
    conn = build_connection(debug=debug)
    
    insert_query = """SELECT date, SUM(sales) as "rolling sum" FROM sales_database GROUP BY date"""
    df = pd.read_sql_query(insert_query, conn)
    pd.set_option("display.max_rows", None, "display.max_columns", None)
    conn.close()
    print(df.to_string(index=False))

if __name__=='__main__':
    build_table()
    insert_table()
    show_table()